<div class="cards m-5">

  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <div>


      <div class="d-flex cocktail-card-content">
        <%= link_to cocktail_path(cocktail.id) do %>
        <%= cocktail.name %>
      <% end %>
      </div>
      <div class="d-flex cocktail-card-content">
        <%= link_to "edit", edit_cocktail_path(cocktail.id) %>
        <%= link_to "delete", cocktail, method: :delete, data: { confirm: 'Are you sure?'} %>
      </div>
    </div>

  </div>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Create cocktail", new_cocktail_path, class:"btn btn-primary"%>
</div>

